@import "./theme/utilities.css";

@theme {
  --color-brand: #6747c8;
  --color-accent: #0bb4c0;
  --color-danger: #ff004c;
  --color-info: #00a9ec;
  --color-success: #00e091;
  --color-warning: #f4d58d;
  --color-background: #ffffff;
  --color-surface: #ffffff;
  --color-subtle: #ffffff;
  --color-foreground: #727587;
  --color-muted: #aaabb7;
  --color-border: #f0eff5;
  --shadow-card: 0 0 8px #9d99aa42;
}

:root.dark {
  --color-background: #19171d;
  --color-surface: #25232b;
  --color-subtle: #25232b;
  --color-foreground: #8b8ea0;
  --color-muted: #686a77;
  --color-border: #231e2c;
  --shadow-card: 0 0 8px #322f3b42;
}

body {
  background-color: var(--color-background);
}

input::placeholder {
  color: var(--color-muted);
  font-weight: 400;
}

.simplebar-scrollbar:before {
  /* biome-ignore lint/complexity/noImportantStyles: required to override simplebar's inline styles */
  background: var(--color-muted) !important;
}
